---
layout: blog
title: Categories
permalink: /category/
---

<div class="container mtb">
    <div class="row">
        <div class="col-md-8">
        <! -- BLOG POSTS LIST -->
        {% for tag in site.tags %}
        {% unless tag.first == "tutorial" or tag.first == "manual" %}
            <span id="{{ tag.first }}"></span>
            <div class='post hidden {{ tag.first }}'>
            <h2>{{ tag.first | capitalize }}</h2>
                    {% for post in site.tags[tag.first] %}
                        <p><a href="{{ post.url | prepend: site.baseurl }}"><h4 class="ctitle">{{ post.title }}</h4></a></p>
                        <p><csmall>{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</csmall></p>
                        {{ post.excerpt }}
                        <div class="hline"></div>
                    {% endfor %}
            </div>
        {% endunless %}
        {% endfor %}
        </div><! --/col-lg-8 -->

        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->

<script>
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

var tagName = getParameterByName("tagName");

$('.'+tagName).removeClass('hidden');
$('#tagName').text(tagName);
</script>