---
layout: doc
title: Documentation
permalink: /doc/
---

<div class="container mtb">
    <div class="row">

        {% for post in site.categories['doc'] %}
        {% if post.title != "_Sidebar" %}
        <! -- Document -->
        <div class="col-md-6">

                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                {{ post.excerpt }}
                <p><a href="{{ post.url | prepend: site.baseurl }}">[Read More]</a></p>
                <div class="hline"></div>
        </div>
        {% endif %}
        {% endfor %}

    </div><! --/row -->
</div><! --/container -->
