---
layout: doc
title: Documentation
doctypes:
  - tutorial
  - manual
permalink: /doc/
---

<div class="container mtb">
    <div class="row">
        {% for dt in page.doctypes %}
        <div class="col-sm-6">
            {% assign sorted_posts = (site.categories['doc'] | where: 'doctype', dt | sort: 'docid') %}
            {% for post in sorted_posts %}
            <! -- Document -->
            <div class="well">
                {{ post.excerpt }}
                {% if post.sections %}
                    <ul>
                    {% for section in post.sections %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}/#{{ section.url }}">{{ section.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <p><a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary" role="button">&#8594; Read All {{post.title}} Here</a></p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div><! --/row -->
</div><! --/container -->
