---
layout: default
title: "IQ-TREE: Efficient phylogenomic software by maximum likelihood"
permalink: /
version: 1.6.12
version_new: 2.2.2.6
releasedate: August 15, 2019
releasedate_new: May 27, 2023
v1_url: https://github.com/Cibiv/IQ-TREE/releases/download
v2_url: https://github.com/iqtree/iqtree2/releases/download
---
<!-- ========================== HEADER ========================== -->
<div id="headerwrap">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1><img src="assets/img/iqtree-logo.svg" width="200"> IQ-TREE</h1>
            <h3>Efficient software for phylogenomic inference</h3>
            <h3>Stable release {{page.version}} ({{page.releasedate}})</h3>
            <p>
            <a id="downloadwin" style="display: none;" href="{{page.v1_url}}/v{{page.version}}/iqtree-{{page.version}}-Windows.zip" class="btn btn-danger btn-lg" role="button">Download v{{page.version}} for Windows</a>
            <a id="downloadmac" style="display: none;" href="{{page.v1_url}}/v{{page.version}}/iqtree-{{page.version}}-MacOSX.zip" class="btn btn-danger btn-lg" role="button">Download v{{page.version}} for macOS</a>
            <a id="downloadlinux" style="display: none;" href="{{page.v1_url}}/v{{page.version}}/iqtree-{{page.version}}-Linux.tar.gz" class="btn btn-danger btn-lg" role="button">Download v{{page.version}} for Linux</a>
            </p>
            <h3>Latest release {{page.version_new}} ({{page.releasedate_new}})</h3>
            <p>
            <a id="downloadwin_new" style="display: none;" href="{{page.v2_url}}/v{{page.version_new}}/iqtree-{{page.version_new}}-Windows.zip" class="btn btn-danger btn-lg" role="button">Download v{{page.version_new}} for Windows</a>
            <a id="downloadmac_new" style="display: none;" href="{{page.v2_url}}/v{{page.version_new}}/iqtree-{{page.version_new}}-MacOSX.zip" class="btn btn-danger btn-lg" role="button">Download v{{page.version_new}} for macOS</a>
            <a id="downloadlinux_new" style="display: none;" href="{{page.v2_url}}/v{{page.version_new}}/iqtree-{{page.version_new}}-Linux.tar.gz" class="btn btn-danger btn-lg" role="button">Download v{{page.version_new}} for Linux</a>
            </p>
            <p>
            <a id="downloadall" href="#download" class="btn btn-primary btn-lg" role="button">All Downloads</a>
            <a href="doc/" class="btn btn-primary btn-lg" role="button">Documentation</a>
            </p>
        </div>
    </div><!-- /row -->
</div> <!-- /container -->
</div> <!-- /headerwrap -->

<script type="text/javascript">
    function getOS() {
      var userAgent = window.navigator.userAgent,
          platform = window.navigator.platform,
          macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
          windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
          iosPlatforms = ['iPhone', 'iPad', 'iPod'],
          os = null;
      if (macosPlatforms.indexOf(platform) !== -1) {
        os = 'macOS';
      } else if (iosPlatforms.indexOf(platform) !== -1) {
        os = 'iOS';
      } else if (windowsPlatforms.indexOf(platform) !== -1) {
        os = 'Windows';
      } else if (/Android/.test(userAgent)) {
        os = 'Android';
      } else if (!os && /Linux/.test(platform)) {
        os = 'Linux';
      }
      return os;
    }
    var os = getOS();

    if (os == "Windows") {
        document.getElementById("downloadwin").style.display = "inline";
        document.getElementById("downloadwin_new").style.display = "inline";
    } else if (os == "macOS") {
        document.getElementById("downloadmac").style.display = "inline";
        document.getElementById("downloadmac_new").style.display = "inline";
    } else if (os == "Linux") {
        document.getElementById("downloadlinux").style.display = "inline";
        document.getElementById("downloadlinux_new").style.display = "inline";
    } else  document.getElementById("downloadall").innerHTML="Download";

</script>

<!-- ========================== IQ-TREE key features ========================== -->
<div class="service container">

    <div class="row centered">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <br>
            <div class="list-group">
                <div class="list-group-item list-group-item-warning">
                    <h4 class="centered">LATEST NEWS</h4>
                    March 25, 2022: You can now <a href="doc/AliSim">simulate alignments</a> under a wide variety of models in v2.2.0<br>
                    May 17, 2021: We published a <a href="news/code-of-conduct">Code of Conduct</a> for the IQ-TREE community<br>
                    April 21, 2021: <a href="doc/Rootstrap">Rooting phylogenies and Rootstrap measure</a> is now available in v2.1.3<br>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <br><h3>IQ-TREE key features</h3>
        </div>
        <div class="col-sm-6">
            <i class="fa fa-usb fa-rotate-270"></i>
            <h4>IQ-TREE - Efficient Tree Reconstruction</h4>
            <p>A fast and effective stochastic algorithm to infer phylogenetic trees by maximum likelihood. <em>IQ-TREE compares favorably to RAxML and PhyML</em> in terms of likelihoods with similar computing time (<a href="http://dx.doi.org/10.1093/molbev/msu300">Nguyen et al., 2015</a>).</p>
        </div>
        <div class="col-sm-6">
            <i class="fa fa-user-md"></i>
            <h4>ModelFinder - Fast and Accurate Model Selection</h4>
            <p>ModelFinder (<a href="http://dx.doi.org/10.1038/nmeth.4285">Kalyaanamoorthy et al., 2017</a>) enables a free rate variation model and is <em>10 to 100 times faster than jModelTest and ProtTest</em>. It also finds best-fit partitioning scheme like <a href="http://www.robertlanfear.com/partitionfinder/">PartitionFinder</a>.</p>
        </div>		 				
    </div>
    <div class="row centered">
        <div class="col-sm-6">
            <i class="fa fa-fighter-jet"></i>
            <h4>UFBoot - Ultrafast Bootstrap Approximation</h4>
            <p>UFBoot provides approximately unbiased branch support values and runs 100X faster than nonparametric bootstrap and 10 to 40 times faster than RAxML rapid bootstrap (<a href="http://dx.doi.org/10.1093/molbev/mst024">Minh et al., 2013</a>).</p>
        </div>
        <div class="col-sm-6">
            <i class="fa fa-tasks"></i>
            <h4>Big Data Analysis</h4>
            <p>Supporting huge datasets with thousands of sequences or millions of alignment sites via <a href="doc/Command-Reference#checkpointing-to-resume-stopped-run">checkpointing</a>, safe numerical and low memory mode. <a href="doc/Tutorial#utilizing-multi-core-cpus">Multicore CPUs</a> and <a href="doc/Compilation-Guide#compiling-mpi-version">parallel MPI system</a> are utilized to speedup analysis.</p>
        </div>		 				
    </div>
    <br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="list-group">
                <div class="list-group-item list-group-item-warning">
                    <h4 class="centered">Version 2.0 Highlights </h4>
                    <ul>
                    <li>Input alignment (-s option) or partition (-p) can be a directory of alignment files</li>
                    <li>Inference of rooted trees using non-reversible models</li>
                    <li>Faster tree search under topological constraint (-g option)</li>
                    <li>Gene/locus trees inference (-S option) and <a href="https://doi.org/10.1101/487801">concordance factor analysis</a> (--gcf)</li>
                    <li><a href="https://doi.org/10.1093/sysbio/syu062">ModelOMatic model selection</a> between DNA, protein and codon models (--modelomatic option)</li>
                    <li><a href="https://doi.org/10.1093/gbe/evz193">Tests of model violations</a> (--symtest option)</li>
                    <li><a href="https://doi.org/10.1038/s41586-018-0043-0">Transfer bootstrap expectation</a> (--tbe option)</li>
                    <li>Site rate estimation by maximum likelihood (--mlrate option)</li>
                    <li><a href="https://doi.org/10.1093/bioinformatics/bty384">Terrace analysis</a> for partitioned models</li>
                    </ul>
                    <a href="https://doi.org/10.1093/molbev/msaa015">&rarr; IQ-TREE 2 paper in Mol. Biol. Evol.</a>
                </div>
            </div>
        </div>
    </div>
</div><!--/container -->
<br><div class="hline"></div><br>
<!-- ========================== IQ-TREE supports a wide range of evolutionary models ========================== -->
<div class="service container">
    <div class="row centered">
        <div class="col-sm-12">
            <h3>IQ-TREE supports a wide range of evolutionary models</h3>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-retweet"></i>
            <h4>Common Models</h4>
            <p>All <a href="doc/Substitution-Models">common substitution models</a> for DNA, protein, codon, binary and morphological data with <a href="doc/Substitution-Models#rate-heterogeneity-across-sites">rate heterogeneity among sites</a>.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-pie-chart"></i>
            <h4>Partition Models</h4>
            <p><a href="doc/Complex-Models">Phylogenomic partition models</a> allowing for mixed data types, mixed rate heterogeneity types, linked or unlinked branch lengths.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-flask"></i>
            <h4>Mixture Models</h4>
            <p>Mixture models such as <a href="doc/Substitution-Models#protein-mixture-models">empirical protein mixture models</a> and <a href="doc/Complex-Models#mixture-models">customizable mixture models</a>.</p>
        </div>
    </div>
</div><!--/container -->
<br><div class="hline"></div><br>
<!-- ========================== IQ-TREE is user-friendly and well-documented ========================== -->
<div class="service container">
    <div class="row centered">
        <div class="col-sm-12">
            <h3>IQ-TREE is user-friendly and well-documented</h3>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-globe"></i>
            <h4>W-IQ-TREE Web Service</h4>
            Easy to use web servers provided by:<br>
            <a href="http://iqtree.cibiv.univie.ac.at" target="_blank">Center for Integrative Bioinformatics Vienna, Austria</a><br>
            <a href="https://www.hiv.lanl.gov/content/sequence/IQTREE/iqtree.html" target="_blank">Los Alamos National Laboratory, USA</a> <span class="label label-danger"><em>New!</em></span>
        </div>		 
        <div class="col-sm-4">
            <i class="fa fa-question-circle"></i>
            <h4>User Support</h4>
            Please refer to <a href="doc/Frequently-Asked-Questions">Frequently Asked Questions</a>.
            For further feedback and bug reports, please sign up and post a topic to <a href="https://groups.google.com/d/forum/iqtree">IQ-TREE Google group</a>.
            <p><em>The average response time is two working days.</em></p>
        </div>
        <div class="col-sm-4">
            <a href="doc/">
            <i class="fa fa-book"></i>
            <h4>User Documentation</h4>
            </a>
            User guide, tutorial and extensive documentation for how to use IQ-TREE.
        </div>		 
    </div><!--row-->
</div> <!-- /container -->
<!-- ========================== DOWNLOAD ========================== -->
<div id="download" class="service jumbotron">
    <div class="container">
        <div class="row centered">
            <div class="col-sm-12">
                <h2>Download</h2>
                <p>The stable IQ-TREE version {{page.version}} ({{page.releasedate}})</p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-windows"></i>
                <h4>Windows</h4>
                <div class="list-group">
                    <a class="list-group-item list-group-item-info" href="{{page.v1_url}}/v{{page.version}}/iqtree-{{page.version}}-Windows.zip">64-bit multicore Windows</a>
                    <a class="list-group-item list-group-item-success" href="{{page.v1_url}}/v{{page.version}}/iqtree-{{page.version}}-Windows32.zip">32-bit multicore Windows</a>
                </div>
            </div>		 				

            <div class="col-sm-4">
                <i class="fa fa-apple"></i>
                <h4>macOS</h4>
                <div class="list-group">
                    <a class="list-group-item list-group-item-info" href="{{page.v1_url}}/v{{page.version}}/iqtree-{{page.version}}-MacOSX.zip">64-bit multicore macOS</a>
                </div>
            </div>		 				

            <div class="col-sm-4">
                <i class="fa fa-linux"></i>
                <h4>Linux</h4>
                <div class="list-group">
                    <a class="list-group-item list-group-item-info" href="{{page.v1_url}}/v{{page.version}}/iqtree-{{page.version}}-Linux.tar.gz">64-bit multicore Linux</a>
                    <a class="list-group-item list-group-item-success" href="{{page.v1_url}}/v{{page.version}}/iqtree-{{page.version}}-Linux32.tar.gz">32-bit multicore Linux</a>
                    <!--<a class="list-group-item list-group-item-info" href="{{page.v1_url}}/v{{page.version}}/iqtree-{{page.version}}-LinuxKNL.tar.gz">Xeon Phi Knights Landing Linux</a>-->
                </div>
            </div>		 

            <div class="col-sm-12">
                <p>Latest release {{page.version_new}} ({{page.releasedate_new}})</p>
            </div>

            <div class="col-sm-4">
                <div class="list-group">
                    <a class="list-group-item list-group-item-info" href="{{page.v2_url}}/v{{page.version_new}}/iqtree-{{page.version_new}}-Windows.zip">64-bit multicore Windows</a>
                    <!--<a class="list-group-item list-group-item-success" href="{{page.v2_url}}/v{{page.version_new}}/iqtree-{{page.version_new}}-Windows32.zip">32-bit multicore Windows</a>-->
                </div>
            </div>		 				

            <div class="col-sm-4">
                <div class="list-group">
                    <a class="list-group-item list-group-item-info" href="{{page.v2_url}}/v{{page.version_new}}/iqtree-{{page.version_new}}-MacOSX.zip">64-bit multicore macOS</a>
                </div>
            </div>		 				

            <div class="col-sm-4">
                <div class="list-group">
                    <a class="list-group-item list-group-item-info" href="{{page.v2_url}}/v{{page.version_new}}/iqtree-{{page.version_new}}-Linux.tar.gz">64-bit multicore Linux</a>
                    <!--<a class="list-group-item list-group-item-success" href="{{page.v2_url}}/v{{page.version_new}}/iqtree-{{page.version_new}}-Linux32.tar.gz">32-bit multicore Linux</a>-->
                </div>
            </div>		 

        </div> <!-- row -->


        <div class="row">
            <div class="col-sm-4">
                <div class="list-group">
                  <a href="doc/Quickstart" class="list-group-item">
                    <div class="list-group-item-text"><h4>Getting started</h4>Beginner's guide for a quick start.</div>
                  </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="list-group">
                  <a href="release/" class="list-group-item">
                    <div class="list-group-item-text"><h4>What's new?</h4>Release notes of the latest version.</div>
                  </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="list-group">
                  <a href="doc/Compilation-Guide" class="list-group-item">
                    <div class="list-group-item-text"><h4>Compilation guide</h4>Building IQ-TREE from source code.</div>
                  </a>
                </div>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /jumbotron -->


    
<!-- ========================== How to cite IQ-TREE? ========================== -->
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

<div class="service container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <br><h2 class="centered">How to cite?</h2>
            <div class="list-group">
                <div class="list-group-item list-group-item-danger">
                To maintain IQ-TREE, support users and secure fundings, it is important for us that you cite the following papers, whenever the corresponding features were applied for your analysis. Note that the paper of Nguyen et al. (2015) only described the tree search algorithm. Thus, it is not enough to only cite this paper if you, for example, use partition models, where <A HREF="http://dx.doi.org/10.1093/sysbio/syw037">Chernomor et al. (2016)</A> should be cited.
                </div>
            </div>
        </div>
    </div>
    
{% for pub in site.data.pubdata.references %}
	<div class="well well-sm">
	    <div class="row">
	        <div class="col-xs-10 col-md-11">
		    	<H4>{{pub.message}}
		    		{% if pub.new %}
		    		<span class="label label-danger"><em>New!</em></span>
		    		{% endif %}
		    	</H4>
		        <strong>
		        	{% for author in pub.author %}
		        		{{author.given}} {{author.family}}{% if author != pub.author.last %}, {% endif %}
		        	{% endfor %}
		        </strong> 
		        ({{pub.issued.year}}) {{pub.title}}.
		        <EM>{{pub.container-title}}</EM>{% if pub.volume %}, {{pub.volume}}:{{pub.page}}. {% endif %}
		        <A href="https://doi.org/{{pub.DOI}}">https://doi.org/{{pub.DOI}}</A>
		    </div><!--col-->
	        <div class="col-xs-2  col-md-1">
	            <div data-badge-popover="left" data-badge-type="donut" data-doi="{{pub.DOI}}" data-hide-less-than="10" class="altmetric-embed"></div>
	        </div><!--col-->
        </div><!--row-->
    </div><!--well-->
{% endfor %}

    <div class="row">
        <div class="col-md-12">
            <h3 class="centered">IQ-TREE would not be possible without generous fundings by:</h3><br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        	<p class="centered">
            <a href="https://www.univie.ac.at"><img src="assets/img/funding/univie-logo.jpg" width="200"></a>
            </p>
        </div>
        <div class="col-sm-4">
        	<p class="centered">
            <a href="https://fwf.ac.at"><img src="assets/img/funding/fwf-logo.jpg" width="200"></a>
            </p>
        </div>
        <div class="col-sm-4">
        	<p class="centered">
            <a href="https://www.anu.edu.au"><img src="assets/img/funding/anu-logo.png" width="200"></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        	<p class="centered">
            <a href="https://www.anu.edu.au"><img src="assets/img/funding/arc-logo.jpg" width="200"></a>
            </p>
        </div>
        <div class="col-sm-4">
        	<p class="centered">
            <a href="https://chanzuckerberg.com"><img src="assets/img/funding/czi-logo.svg" width="200"></a>
            </p>
        </div>
        <div class="col-sm-4">
        	<p class="centered">
            <a href="https://chanzuckerberg.com"><img src="assets/img/funding/simons-moore.jpg" width="200"></a>
            </p>
        </div>
    </div>


</div><!--/container -->
