---
layout: default
title: "IQ-TREE: Efficient phylogenomic software by maximum likelihood"
permalink: /
version: 1.5.5
releasedate: June 2, 2017
version_dev: 1.6.beta4
releasedate_dev: June 21, 2017
---
<!-- ========================== HEADER ========================== -->
<div id="headerwrap">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>IQ-TREE</h1>
            <h3>Efficient phylogenomic software by maximum likelihood</h3>
            <h3>Latest standard version {{page.version}} released on {{page.releasedate}}</h3>
        </div>
        <div class="col-lg-8 col-lg-offset-2 himg">
            <br>
            <a id="downloadwin" style="display: none;" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version}}/iqtree-omp-{{page.version}}-Windows.zip" class="btn btn-success btn-lg" role="button">Download for Windows</a>
            <a id="downloadmac" style="display: none;" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version}}/iqtree-omp-{{page.version}}-MacOSX.zip" class="btn btn-success btn-lg" role="button">Download for macOS</a>
            <a id="downloadlinux" style="display: none;" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version}}/iqtree-omp-{{page.version}}-Linux.tar.gz" class="btn btn-success btn-lg" role="button">Download for Linux</a>
            <a id="downloadall" href="#download" class="btn btn-success btn-lg" role="button">All Downloads</a>
            <p></p>
            <a href="doc/" class="btn btn-success btn-lg" role="button">Documentation</a>
            <br>
        </div>
    </div><!-- /row -->
</div> <!-- /container -->
</div> <!-- /headerwrap -->

<script type="text/javascript">
    if (navigator.appVersion.indexOf("Win")!=-1) document.getElementById("downloadwin").style.display = "inline";
    else if (navigator.appVersion.indexOf("Mac")!=-1) document.getElementById("downloadmac").style.display = "inline";
    else if (navigator.appVersion.indexOf("Linux")!=-1) document.getElementById("downloadlinux").style.display = "inline";
    else  document.getElementById("downloadall").innerHTML="Download";

</script>

<!-- ========================== IQ-TREE key features ========================== -->
<div class="service container">
    <div class="row centered">
        <div class="col-sm-12">
            <br><h3>IQ-TREE key features</h3>
        </div>
        <div class="col-sm-6">
            <i class="fa fa-usb fa-rotate-270"></i>
            <h4>IQ-TREE - Efficient Tree Reconstruction</h4>
            <p>A fast and effective stochastic algorithm to infer phylogenetic trees by maximum likelihood. <em>IQ-TREE compares favorably to RAxML and PhyML</em> in terms of likelihoods with similar computing time (<a href="http://dx.doi.org/10.1093/molbev/msu300">Nguyen et al., 2015</a>).</p>
        </div>
        <div class="col-sm-6">
            <i class="fa fa-user-md"></i>
            <h4>ModelFinder - Fast and Accurate Model Selection</h4>
            <p>ModelFinder (<a href="http://dx.doi.org/10.1038/nmeth.4285">Kalyaanamoorthy et al., 2017</a>) enables a free rate variation model and is <em>10 to 100 times faster than jModelTest and ProtTest</em>. It also finds best-fit partitioning scheme like <a href="http://www.robertlanfear.com/partitionfinder/">PartitionFinder</a>.</p>
        </div>		 				
    </div>
    <div class="row centered">
        <div class="col-sm-6">
            <i class="fa fa-fighter-jet"></i>
            <h4>UFBoot - Ultrafast Bootstrap Approximation</h4>
            <p>UFBoot provides approximately unbiased branch support values and runs 100X faster than nonparametric bootstrap and 10 to 40 times faster than RAxML rapid bootstrap (<a href="http://dx.doi.org/10.1093/molbev/mst024">Minh et al., 2013</a>).</p>
        </div>
        <div class="col-sm-6">
            <i class="fa fa-tasks"></i>
            <h4>Big Data Analysis</h4>
            <p>Supporting huge datasets with thousands of sequences or millions of alignment sites via <a href="doc/Command-Reference#checkpointing-to-resume-stopped-run">checkpointing</a>, safe numerical and low memory mode. <a href="doc/Tutorial#utilizing-multi-core-cpus">Multicore CPUs</a> and <a href="doc/Compilation-Guide#compiling-mpi-version">parallel MPI system</a> are utilized to speedup analysis.</p>
        </div>		 				
    </div>
    <br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="list-group">
                <div class="list-group-item list-group-item-warning">
                    <h4 class="centered">New features in 1.5.x (<a href="news/">see all news</a>)</h4>
                    <ul>
                        <li><a href="doc/Complex-Models#site-specific-frequency-models">Posterior mean site frequency (PMSF) model as fast and accurate approximation for CAT model C10 to C60</a></li>
                        <li><a href="doc/Advanced-Tutorial#constrained-tree-search">User-defined topological constraint for tree search [-g option]</a></li>
                        <li><a href="doc/Compilation-Guide#compiling-mpi-version">MPI parallel version for distributing computations across cluster nodes</a></li>
                        <li><a href="doc/Command-Reference#general-options">Low memory [-mem] and safe numerical mode [-safe] for large data sets or complex mixture models</a></li>
                        <li><a href="doc/Tutorial#utilizing-multi-core-cpus">Automatic detection for the best number of threads to use [-nt AUTO]</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!--/container -->
<br><div class="hline"></div><br>
<!-- ========================== IQ-TREE supports a wide range of evolutionary models ========================== -->
<div class="service container">
    <div class="row centered">
        <div class="col-sm-12">
            <h3>IQ-TREE supports a wide range of evolutionary models</h3>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-retweet"></i>
            <h4>Common Models</h4>
            <p>All <a href="doc/Substitution-Models">common substitution models</a> for DNA, protein, codon, binary and morphological data with <a href="doc/Substitution-Models#rate-heterogeneity-across-sites">rate heterogeneity among sites</a>.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-pie-chart"></i>
            <h4>Partition Models</h4>
            <p><a href="doc/Complex-Models">Phylogenomic partition models</a> allowing for mixed data types, mixed rate heterogeneity types, linked or unlinked branch lengths.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-flask"></i>
            <h4>Mixture Models</h4>
            <p>Mixture models such as <a href="doc/Substitution-Models#protein-mixture-models">empirical protein mixture models</a> and <a href="doc/Complex-Models#mixture-models">customizable mixture models</a>.</p>
        </div>
    </div>
</div><!--/container -->
<br><div class="hline"></div><br>
<!-- ========================== IQ-TREE is user-friendly and well-documented ========================== -->
<div class="service container">
    <div class="row centered">
        <div class="col-sm-12">
            <h3>IQ-TREE is user-friendly and well-documented</h3>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-globe"></i>
            <h4>W-IQ-TREE Web Service</h4>
            Easy to use web servers provided by:<br>
            <a href="http://iqtree.cibiv.univie.ac.at" target="_blank">Center for Integrative Bioinformatics Vienna, Austria</a><br>
            <a href="https://www.hiv.lanl.gov/content/sequence/IQTREE/iqtree.html" target="_blank">Los Alamos National Laboratory, USA</a> <span class="label label-danger"><em>New!</em></span>
        </div>		 
        <div class="col-sm-4">
            <i class="fa fa-question-circle"></i>
            <h4>User Support</h4>
            Please refer to <a href="doc/Frequently-Asked-Questions">Frequently Asked Questions</a>.
            For further feedback and bug reports, please sign up and post a topic to <a href="https://groups.google.com/d/forum/iqtree">IQ-TREE Google group</a>.
            <p><em>The average response time is two working days.</em></p>
        </div>
        <div class="col-sm-4">
            <a href="doc/">
            <i class="fa fa-book"></i>
            <h4>User Documentation</h4>
            </a>
            User guide, tutorial and extensive documentation for how to use IQ-TREE.
        </div>		 
    </div><!--row-->
</div> <!-- /container -->
<!-- ========================== DOWNLOAD ========================== -->
<div id="download" class="service jumbotron">
    <div class="container">
        <div class="row centered">
            <div class="col-sm-12">
                <h2>Download</h2>
                <p>The latest IQ-TREE standard version {{page.version}} ({{page.releasedate}})</p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-windows"></i>
                <h4>Windows</h4>
                <div class="list-group">
                    <a class="list-group-item list-group-item-info" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version}}/iqtree-{{page.version}}-Windows.zip">64-bit sequential Windows</a>
                    <a class="list-group-item list-group-item-success" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version}}/iqtree-omp-{{page.version}}-Windows.zip">64-bit multicore Windows</a>
                    <a class="list-group-item list-group-item-info" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version}}/iqtree-{{page.version}}-Windows32.zip">32-bit sequential Windows</a>
                    <a class="list-group-item list-group-item-success" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version}}/iqtree-omp-{{page.version}}-Windows32.zip">32-bit multicore Windows</a>
                </div>
            </div>		 				

            <div class="col-sm-4">
                <i class="fa fa-apple"></i>
                <h4>macOS</h4>
                <div class="list-group">
                    <a class="list-group-item list-group-item-info" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version}}/iqtree-{{page.version}}-MacOSX.zip">64-bit sequential macOS</a>
                    <a class="list-group-item list-group-item-success" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version}}/iqtree-omp-{{page.version}}-MacOSX.zip">64-bit multicore macOS</a>
                </div>
            </div>		 				
            <div class="col-sm-4">
                <i class="fa fa-linux"></i>
                <h4>Linux</h4>
                <div class="list-group">
                    <a class="list-group-item list-group-item-info" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version}}/iqtree-{{page.version}}-Linux.tar.gz">64-bit sequential Linux</a>
                    <a class="list-group-item list-group-item-success" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version}}/iqtree-omp-{{page.version}}-Linux.tar.gz">64-bit multicore Linux</a>
                    <a class="list-group-item list-group-item-info" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version}}/iqtree-{{page.version}}-Linux32.tar.gz">32-bit sequential Linux</a>
                    <a class="list-group-item list-group-item-success" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version}}/iqtree-omp-{{page.version}}-Linux32.tar.gz">32-bit multicore Linux</a>
                </div>
            </div>		 
        </div> <!-- row -->


        <div class="row">
            <div class="col-sm-4">
                <div class="list-group">
                  <a href="doc/Quickstart" class="list-group-item">
                    <div class="list-group-item-text"><h4>Getting started</h4>Beginner's guide for a quick start.</div>
                  </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="list-group">
                  <a href="release/" class="list-group-item">
                    <div class="list-group-item-text"><h4>What's new?</h4>Release notes of the latest version.</div>
                  </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="list-group">
                  <a href="doc/Compilation-Guide" class="list-group-item">
                    <div class="list-group-item-text"><h4>Compilation guide</h4>Building IQ-TREE from source code.</div>
                  </a>
                </div>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
    <br><div class="hline"></div><br>
<!-- ========================== IQ-TREE variants ========================== -->
    <div id="variant" class="container">
        <div class="row centered">
            <div class="col-sm-12">
                <p>Beta version {{ page.version_dev }} ({{ page.releasedate_dev }}) <span class="label label-danger"><em>New!</em></span></p>
            </div>
            <br><br>
            <div class="col-sm-4">
                <div class="list-group">
                    <a class="list-group-item list-group-item-info" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version_dev}}/iqtree-{{page.version_dev}}-Windows.zip">64-bit multicore Windows</a>
                    <a class="list-group-item list-group-item-success" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version_dev}}/iqtree-{{page.version_dev}}-Windows32.zip">32-bit multicore Windows</a>
                </div>
            </div>		 				

            <div class="col-sm-4">
                <div class="list-group">
                    <a class="list-group-item list-group-item-info" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version_dev}}/iqtree-{{page.version_dev}}-MacOSX.zip">64-bit multicore macOS</a>
                </div>
            </div>		 				
            <div class="col-sm-4">
                <div class="list-group">
                    <a class="list-group-item list-group-item-info" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version_dev}}/iqtree-{{page.version_dev}}-Linux.tar.gz">64-bit multicore Linux</a>
                    <a class="list-group-item list-group-item-success" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version_dev}}/iqtree-{{page.version_dev}}-Linux32.tar.gz">32-bit multicore Linux</a>
                    <a class="list-group-item list-group-item-info" href="https://github.com/Cibiv/IQ-TREE/releases/download/v{{page.version_dev}}/iqtree-{{page.version_dev}}-LinuxKNL.tar.gz">Xeon Phi Knights Landing Linux</a>
                </div>
            </div>		 

        </div> <!-- row -->

    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="centered">What's new in version 1.6? </h4>
                    <ul>
                        <li><a href="doc/Polymorphism-Aware-Models">Polymorphism-aware models</a> accounting for incomplete lineage sorting (<a href="http://dx.doi.org/10.1016/j.jtbi.2016.07.042">Schrempf et al., 2016</a>).</li>
                        <li><a href="doc/Complex-Models#heterotachy-models">Heterotachy models</a> accounting for rate variation among sites and lineages (<a href="https://doi.org/10.1101/174789">Crotty et al., submitted</a>).</li>
                        <li><a href="doc/Substitution-Models#lie-markov-models">Lie Markov models</a> (<a href="http://dx.doi.org/10.1093/sysbio/syv021">Woodhams et al., 2015</a>) and non-reversible models.</li>
                        <li><a href="doc/Compilation-Guide#compiling-xeon-phi-knights-landing-version">Xeon Phi Kights Landing</a> (AVX-512) support.</li>
                        <li>`-fast` option to match the speed of FastTree program while still obtaining better trees.</li>
                        <li><a href="http://www.iqtree.org/doc/Tutorial#reducing-impact-of-severe-model-violations-with-ufboot">`-bnni` option to reduce the impact of model violation</a> for UFBoot (<a href="https://doi.org/10.1101/153916">Hoang et al., submitted</a>)</li>
                        <li>Ancestral sequence reconstruction by empirical Bayesian method via `-asr` option.</li>
                    </ul>
                    <div class="centered"><em>During the beta-testing phase, feedback is much appreciated!</em></div>
                </div>
            </div>
        </div>
    </div> <!-- row -->
    </div><!--/container -->
</div><!-- /jumbotron -->


    
<!-- ========================== How to cite IQ-TREE? ========================== -->
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

<div class="service container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <br><h2 class="centered">How to cite?</h2>
            <div class="list-group">
                <div class="list-group-item list-group-item-danger">
                To maintain IQ-TREE, support users and secure fundings, it is important for us that you cite the following papers, whenever the corresponding features were applied for your analysis. Note that the paper of Nguyen et al. (2015) only described the tree search algorithm. Thus, it is not enough to only cite this paper if you, for example, use partition models, where <A HREF="http://dx.doi.org/10.1093/sysbio/syw037">Chernomor et al. (2016)</A> should be cited.
                </div>
            </div>
        </div>
    </div>
    
{% for pub in site.data.pubdata.references %}
	<div class="well well-sm">
	    <div class="row">
	        <div class="col-xs-10 col-md-11">
		    	<H4>{{pub.message}}
		    		{% if pub.new %}
		    		<span class="label label-danger"><em>New!</em></span>
		    		{% endif %}
		    	</H4>
		        <strong>
		        	{% for author in pub.author %}
		        		{{author.given}} {{author.family}}{% if author != pub.author.last %}, {% endif %}
		        	{% endfor %}
		        </strong> 
		        ({{pub.issued.year}}) {{pub.title}}.
		        <EM>{{pub.container-title}}</EM>{% if pub.issue %}, {{pub.issue}}:{{pub.page}}. {% endif %}
		        <A href="https://doi.org/{{pub.DOI}}">https://doi.org/{{pub.DOI}}</A>
		    </div><!--col-->
	        <div class="col-xs-2  col-md-1">
	            <div data-badge-popover="left" data-badge-type="donut" data-doi="{{pub.DOI}}" data-hide-less-than="10" class="altmetric-embed"></div>
	        </div><!--col-->
        </div><!--row-->
    </div><!--well-->
{% endfor %}

</div><!--/container -->
