---
layout: blog
title: News
permalink: /news2/
pageid: 2
entry_start: 10
entry_end: 20
---

<div class="container mtb">
    <div class="row">
        <! -- BLOG POSTS LIST -->
        <div class="col-md-8">
            {% include pagenav.html %}
            {% include displaynews.html %}
            {% include pagenav.html %}
        </div><! --/col-md-8 -->

        <div class="col-md-4">
            {% include sidebarrelease.html %}
            {% include sidebarnews.html %}
        </div>
        
    </div><! --/row -->
</div><! --/container -->
