---
layout: blog
title: Release Notes
permalink: /release/
---

<div class="container mtb">
    <div class="row">
        <!-- BLOG POSTS LIST -->
        <div class="col-md-8">
	    	<p><b>For IQ-TREE version 3 please refer to the <a href="https://github.com/iqtree/iqtree3/releases">GitHub release page</a>.</b>
	    	<p><b>For IQ-TREE version 2 please refer to the <a href="https://github.com/iqtree/iqtree2/releases">GitHub release page</a>.</b>
    		<p>Following are the release notes for version 1.
    		</p>
    	
            {% assign numPages = 0 %}
            {% for post in site.categories['release'] %}
                <!-- Blog Post -->
                {% if numPages > 0 %}
                <div class="hline"></div>
                {% endif %}
                <h3 class="ctitle">IQ-TREE version {{ post.version }}</h3>
                <p><strong>{{ post.date | date: "%b %-d, %Y" }}</strong></p>
                {{ post.content }}
                <p>
                    <a href="https://github.com/Cibiv/IQ-TREE/releases/tag/v{{ post.version }}" class="btn btn-primary" role="button">Download version {{ post.version }} from GitHub</a>
                </p><br>
            {% assign numPages = numPages | plus: 1 %}
            {% endfor %}
        </div><!--/col-md-8 -->

        <div class="col-md-4">
            {% assign num_releases = 1000 %}
            {% include sidebarrelease.html %}
        </div>
        
    </div><!--/row -->
</div><!--/container -->
