<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>Software</h4>
                <p>
                    <a href="{{"/release/" | prepend: site.baseurl }}">IQ-TREE release notes</a><br>
                    <a href="https://github.com/Cibiv/IQ-TREE">GitHub repository</a><br>
                    <a href="{{"/about/" | prepend: site.baseurl }}">Development team</a><br>
                    <a href="http://www.somsubhra.com/github-release-stats/?username=Cibiv&repository=IQ-TREE">Download statistics</a><br>
                </p>
            </div>
            <div class="col-sm-4">
                <h4>User support</h4>
                <p>
                    <a href="{{"/doc/Frequently-Asked-Questions" | prepend: site.baseurl }}">Frequently asked questions</a><br>
                    <a href="{{"/doc/" | prepend: site.baseurl }}">User documentation</a><br>
                    <a href="https://groups.google.com/d/forum/iqtree">IQ-TREE Google group</a><br>
                    <a href="http://iqtree.cibiv.univie.ac.at/" target="_blank">IQ-TREE online web service</a><br>
                </p>
            </div>
            <div class="col-sm-4">
                <h4>Links</h4>
                <p>
                  <a href="http://www.cibiv.at">Center for Integrative Bioinformatics Vienna</a><br>
                  <a href="http://www.mfpl.ac.at">Max F. Perutz Laboratories</a><br>
                  <a href="https://www.univie.ac.at">University of Vienna</a><br>
                  <a href="http://validator.w3.org/check/referer">Link Checker</a><br>
                </p>
            </div>
        </div><!--/row -->
    </div><!--/container -->
</div><!--/footerwrap -->

<!-- COOKIES -->
<div class="alert alert-dismissible text-center cookiealert" role="alert">
    <div class="cookiealert-container">
        We use cookies to ensure you get the best experience on our website
        
        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
            I agree
        </button>
    </div>
</div>
<!-- /COOKIES -->

