<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>Software</h4>
                <p>
                    <a href="{{"/release/" | prepend: site.baseurl }}">Release notes</a><br>
                    <a href="https://github.com/iqtree/iqtree2">GitHub repository</a><br>
                    <a href="{{"/about/" | prepend: site.baseurl }}">Development team</a><br>
                </p>
            </div>
            <div class="col-sm-4">
                <h4>User support</h4>
                <p>
                    <a href="{{"/doc/Frequently-Asked-Questions" | prepend: site.baseurl }}">Frequently asked questions</a><br>
                    <a href="{{"/doc/" | prepend: site.baseurl }}">User documentation</a><br>
                    <a href="https://github.com/iqtree/iqtree2/discussions">GitHub discussions</a><br>
                </p>
            </div>
            <div class="col-sm-4">
                <h4>Links</h4>
                <p>
                  <a href="https://comp.anu.edu.au">ANU School of Computing</a><br>
                  <a href="https://anu-phylogenomics.github.io">Computational Phylogenomics Lab</a><br>
                  <a href="http://validator.w3.org/check/referer">Link Checker</a><br>
                </p>
            </div>
        </div><!--/row -->
    </div><!--/container -->
</div><!--/footerwrap -->

<!-- COOKIES -->
<div class="alert alert-dismissible text-center cookiealert" role="alert">
    <div class="cookiealert-container">
        We use cookies to ensure you get the best experience on our website
        
        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
            I agree
        </button>
    </div>
</div>
<!-- /COOKIES -->

