<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>IQ-TREE</h1>
                <h3>Efficient phylogenetic software by maximum likelihood</h3>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <p><br/>
                    <a href="#download" class="btn btn-success btn-lg" role="button">Download</a>
                    <a href="#documentation" class="btn btn-success btn-lg" role="button">Documentation</a>
                </p>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->