<div class="container mtb">
    <h3 class="mb centered">IQ-TREE DEVELOPMENT TEAM</h3>
    {% for member in site.data.members.members %}
        {% assign loopindex = forloop.index | modulo: 3 %}
        {% if loopindex == 1 %}
        <div class="row centered">
        {% endif %}
            <div class="col-sm-4">
                <a href="{{ member.social.first.url }}">
                    <img class="img-circle" src="{{'/assets/img/members/' | prepend: site.baseurl }}{{member.img}}">
                </a>
                <h4><a href="{{ member.social.first.url }}">{{ member.name }}</a></h4>
                <em>{{ member.position }}</em>
                {% if member.gscholar %} <a href="{{member.gscholar}}">Google Scholar</a>{% endif %}
                <p>Contribution: {{ member.text }}</p>
            </div><!--/col-lg-3 -->
        {% if loopindex == 0 %}
        </div><!--/row -->
        {% endif %}
    {% endfor %}

    {% if loopindex != 0 %}
    </div><!--/row -->
    {% endif %}

</div><!--/container -->
