<nav aria-label="...">
  <ul class="pagination">
    {% if page.pageid != 1 %}
        {% if page.pageid == 2 %}
            {% assign previd = '' %}
        {% else %}
            {% assign previd = page.pageid | minus: 1 %}
        {% endif %}
        <li class="page-item"><a class="page-link" href="../news{{previd}}"><span aria-hidden="true">&larr;</span> Newer posts</a></li>
    {% endif %}
    {% if page.pageid != site.num_pages %}
        {% assign nextid = page.pageid | plus: 1 %}
        <li class="page-item"><a class="page-link" href="../news{{nextid}}">Older posts <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
  </ul>
</nav>
