    <br><br>
    <h4>Share this:</h4>
    <a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter" class="btn btn-info" role="button"><i class="fa fa-twitter"></i> Twitter</a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" class="btn btn-primary" role="button"><i class="fa fa-facebook"></i>acebook</a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+" class="btn btn-danger" role="button">Google+</a>
