<div class="col-md-4">
   <!--  <h4>Search</h4>
    <div class="hline"></div>
        <p>
            <br/>
            <input type="text" class="form-control" placeholder="Search something">
        </p>
    <div class="spacing"></div> -->
    <div class="well well-sm">
        <h4 class="rss-subscribe"><i class="fa fa-rss"></i> Subscribe to this blog <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></h4>
    </div>
    
    <div class="well">
        <h4 class="centered">Recent Posts</h4>
        <div class="row">
        <div class="popular-posts">
            {% for post in site.categories['blog'] limit:5 %} 
                {% if post.thumb %}
                <div class="col-xs-12">
                    <a href="{{ post.url | prepend: site.baseurl }}"><img src="{{ "/assets/img/blog/thumbs/" | prepend: site.baseurl }}{{ post.thumb }}" alt="Popular Post"></a>
                </div>
                {% endif %}
                <div class="col-xs-12">
                    <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p><br><br>
                </div>
            {% endfor %} 
        </div>
        </div>
    </div>
    
    <div class="well">
        <h4>Popular Tags</h4>
        <p>
        {% for tag in site.tags %}
        {% if tag.first != "tutorial" and tag.first != "manual" %}
                <a class="btn btn-theme" href="{{ '/category/?tagName='  | prepend: site.baseurl  }}{{ tag | first }}" role="button">{{ tag | first | capitalize }} <span class="badge">{{ tag | last | size }}</span></a>	         
        {% endif %}
        {% endfor %}
        </p>
    </div>
</div>