<!--   <h4>Search all documents</h4>
        <p>
            <input type="text" class="form-control" placeholder="Enter search text here">
        </p>
    <div class="spacing"></div>-->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">User documentation</h3>
        </div>
        <div class="panel-body" id="sidebar">
            {% assign sorted_posts = (site.categories['doc'] | sort: 'docid') %}
            {% for post in sorted_posts %}
                <p>
                    {% if post.title == page.title %}
                        <i class="fa fa-folder-open"></i> {{ post.title }}
                    {% else %}
                        <a href="{{ post.url | prepend: site.baseurl }}"><i class="fa fa-book"></i> {{ post.title }}</a>
                    {% endif %}
                </p>
                {% if post.title == page.title %}
                    <ul>
                    {% for section in post.sections %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}/#{{ section.url }}">{{ section.name }}</a></li>
                    {% endfor %}
                    </ul>                
                {% endif %}
            {% endfor %}
        </div>
    </div>              
