<div id="blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
            <h3>
                {% if page.tags.first %}
                    {{ page.tags.first | capitalize }}
                {% elsif page.wrap_title %}
                    {{ page.wrap_title }}
                {% elsif page.categories %}
                    {{ page.categories.first | capitalize }}
                {% elsif page.title %}
                    {{ page.title }}
                {% endif %}
            </h3>
            </div>
            {% if page.docid or page.title == "Documentation" %}
            <div class="col-sm-6">
                {% include googlesearch.html %}
            </div>
            {% endif %}
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->
