---
layout: default
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <!-- SINGLE POST -->
        <div class="col-md-8">
            <!-- Blog Post  -->
            <h3>{{ page.title }}</h3>
            <p class="csmall">{{ page.date | date: "%b %-d, %Y" }} {% if page.author %} | By: {{ page.author }} {% endif %}</p>
            {% if page.img %}
            <p><img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}"></p>
            {% endif %}
            {{ content }}
            {% if page.categories contains "news" %}
            <button type="button" class="btn btn-warning" onclick="window.history.back();">&#8592; Go Back</button>
            {% endif %}

            {% if page.categories contains "release" %}
                <a href="https://github.com/Cibiv/IQ-TREE/releases/tag/v{{ page.version }}" class="btn btn-primary" role="button">Download version {{ page.version }} from GitHub</a>
            {% endif %}
            {% include share-page.html %}
        </div><!--/col-md-8 -->
        
        <div class="col-md-4">
            {% include sidebarnews.html %}
        </div>

    </div><!--/row -->
</div><!--/container -->
