---
layout: default
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <!-- SINGLE DOC -->
        <div class="col-md-9">
            <!-- User Doc  -->
            <p><em>Last update: {{ page.date | date: "%b %-d, %Y" }}, Contributors: {{ page.author }}</em></p>
              
            {{ content }}

            <div class="spacing"></div>
            <!-- <h6>SHARE:</h6>
            <p class="share">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-tumblr"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>		 		
            </p> -->
        </div><!--/col-md-9 -->
        
        <div class="col-md-3">
        <!--<div data-spy="affix" data-offset-top="60" data-offset-bottom="200">-->
            {% include sidebardoc.html %}
        <!--</div>-->
        </div>

    </div><!--/row -->
</div><!--/container -->
